<div class="pc d-none d-md-block d-lg-block">
    <!--FOOTER-->
    <footer>
        <div class="container-fluid" style="background-color: #000000;">
            <div class="row" style="border-bottom: #1B1B1A solid 1px">
                <div class="col-2">
                    <img style="width: auto; margin: 25px;" src="/img/logo.png">
                    <div class="d-flex ms-3 gap-2">
                        <a class="text-decoration-none"
                            href="https://api.whatsapp.com/send/?phone=447572264901&text&type=phone_number&app_absent=0"></a>
                        <img style="width: 30px;" src="/img/footerimg/whatsapp.png"></a>
                        <a class="text-decoration-none" href="https://www.instagram.com/holiganbetresmi"></a>
                        <img style="width: 30px;" src="/img/footerimg/instagram.png"></a>
                        <a class="text-decoration-none" href="#"></a>
                        <img style="width: 30px;" src="/img/footerimg/telephone.png">
                        <a class="text-decoration-none" href="#"></a>
                        <img style="width: 30px;" src="/img/footerimg/call.png"></a>
                        <a class="text-decoration-none" href="https://t.me/holiganbet2020">
                            <img style="width: 30px;" src="/img/footerimg/telegram.png"></a>
                        <a class="text-decoration-none" href="https://www.tiktok.com/@@holiganbetresmi">
                            <img style="width: 30px;" src="/img/footerimg/tiktok.png"></a>
                        <a class="text-decoration-none" href="https://www.youtube.com/channel/UCNWXFb95MaEs19SsvXr3r6w">
                            <img style="width: 30px;" src="/img/footerimg/youtube.png"></a>
                    </div>
                    <div class="d-flex ms-3 my-3">
                        <a class="text-decoration-none" href="https://twitter.com/holiganguncel">
                            <img style="width: 30px;" src="/img/footerimg/x.png"></a>
                    </div>
                </div>

                <div class="col-10">
                    <div class="mt-4">
                        <a href="genelkurallarvesartlar.html" class="text-decoration-none" style="color: white;">
                            GENEL KURALLAR VE ŞARTLAR
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9 d-flex align-items-center">
                    <div class="mx-auto" style="width: 90%; font-size: xx-small; color: white;">
                        Holiganbet sizlere en yüksek oranlarla bahis alma fırsatı ve kullanıcı odaklı hizmet kalitesi
                        sunar.
                        Holiganbet spor bahisleri 125+ spor ve espor dalı ile 4000'den fazla bahis seçeneği ve
                        100.000'den fazla
                        karşılaşma ile sizlere sürekli heyecan sunuyor. En yüksek oranlar, en zengin bahis çeşitliliği
                        ve her an
                        canlı
                        karşılaşmalar ile kazanma kapılarını aralıyor. Holiganbet casinosunda 10.000'den fazla slot
                        oyunları ile
                        şansınızı çevirirken, canlı casinoda canlı kurpiyeler eşliğinde blackjack, rulet, sic bo,
                        dragon&tiger,
                        baccarat ve gösteri oyunları ile sürekli kazanabilirsiniz. Kuruluşumuz site üzerinde sunulan
                        verilerin her
                        zaman güncel ve doğru olmasına özen gösteriyor olsa da veriler sadece bilgi amaçlıdır ve
                        kesinlik
                        kaydetmemektedir. Maç sonuçları, maç zamanı gibi veriler doğru olmaması durumunda kuruluşumuz
                        konu ile
                        ilgili
                        sorumluluk kabul etmemektedir. Lütfen kural ve şartlar kısmında bulunan bahis ve sonuçlandırma
                        bölümünü
                        dikkate alınız. © 2024 HOLIGANBET.COM. TÜM HAKLARI SAKLIDIR HOLIGANBET Hollanda Antilleri
                        Curaçao yasaları
                        çerçevesinde verilen Antillephone 8048/JAZ Lisansı kapsamında çalışır. Curaçao Hükümeti
                        tarafından
                        yetkilendirilmiş ve düzenlenmiştir. Holiganbet® bir Coinbar N.V markasıdır. Heelsumstraat 51
                        Curacao, CW
                    </div>

                </div>
                <div class="col-3">
                    <div class="d-flex ms-2 my-3 gap-4 align-items-center justify-content-center w-75">
                        <img src="img/footerimg/+18.png" style="height: 80px;">
                        <a href="https://quality.livechatinc.com/12771750">
                            <img src="img/footerimg/hizmet.png" style="height: 120px;">
                        </a>
                        <a href="https://www.dmca.com/">
                            <img src="img/footerimg/dmca.png" style="height: 80px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="mobil d-block d-sm-block d-md-none">
    <!--Footer-->
    <footer style="background-color: #000000;">
        <div class="logo">
            <div class="d-flex  justify-content-center">
                <img src="img/logo.png" class="mt-3">
            </div>
        </div>
        <div class="social">
            <div class="d-flex mt-3 justify-content-center">
                <img style="width: 30px;" class="mx-2" src="/img/footerimg/WhatsApp.png" alt="">
                <img style="width: 30px;" class="mx-2" src="/img/footerimg/instagram.png" alt="">
                <img style="width: 30px;" class="mx-2" src="/img/footerimg/telephone.png" alt="">
                <img style="width: 30px;" class="mx-2" src="/img/footerimg/call.png" alt="">
                <img style="width: 30px;" class="mx-2" src="/img/footerimg/Telegram.png" alt="">
                <img style="width: 30px;" class="mx-2" src="/img/footerimg/tiktok.png" alt="">
            </div>
            <div class="d-flex mt-2 justify-content-center">
                <img style="width: 30px;" class="mx-2" src="/img/footerimg/Youtube.png" alt="">
                <img style="width: 30px;" class="mx-2" src="/img/footerimg/x.png" alt="">
            </div>
        </div>
        <div class="kurallar">
            <div class="d-flex mt-5 justify-content-center">
                <a href="genelkurallarvesartlar.html" style="text-decoration: none;color: white;">
                    <p>
                        GENEL KURALLAR VE ŞARTLAR
                    </p>
                </a>
            </div>
        </div>
        <div class="border1">
            <div class="mt-5" style="border-top: 1px solid gray;">
                &nbsp;
            </div>
        </div>
        <div class="yazi">
            <div class="d-flex justify-content-center">
                <p style="color: white; font-size: 12px; padding: 35px;">
                    Holiganbet sizlere en yüksek oranlarla bahis alma fırsatı ve kullanıcı odaklı hizmet kalitesi sunar.
                    Holiganbet spor bahisleri 125+ spor ve espor dalı ile 4000'den fazla bahis seçeneği ve 100.000'den
                    fazla
                    karşılaşma ile sizlere sürekli heyecan sunuyor. En yüksek oranlar, en zengin bahis çeşitliliği ve
                    her an
                    canlı karşılaşmalar ile kazanma kapılarını aralıyor. Holiganbet casinosunda 10.000'den fazla slot
                    oyunları
                    ile şansınızı çevirirken, canlı casinoda canlı kurpiyeler eşliğinde blackjack, rulet, sic bo,
                    dragon&tiger,
                    baccarat ve gösteri oyunları ile sürekli kazanabilirsiniz. Kuruluşumuz site üzerinde sunulan
                    verilerin her
                    zaman güncel ve doğru olmasına özen gösteriyor olsa da veriler sadece bilgi amaçlıdır ve kesinlik
                    kaydetmemektedir. Maç sonuçları, maç zamanı gibi veriler doğru olmaması durumunda kuruluşumuz konu
                    ile
                    ilgili sorumluluk kabul etmemektedir. Lütfen kural ve şartlar kısmında bulunan bahis ve
                    sonuçlandırma
                    bölümünü dikkate alınız. © 2024 HOLIGANBET.COM. TÜM HAKLARI SAKLIDIR HOLIGANBET Hollanda Antilleri
                    Curaçao
                    yasaları çerçevesinde verilen Antillephone 8048/JAZ Lisansı kapsamında çalışır. Curaçao Hükümeti
                    tarafından
                    yetkilendirilmiş ve düzenlenmiştir. Holiganbet® bir Coinbar N.V markasıdır. Heelsumstraat 51
                    Curacao, CW
                </p>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-center">
                <img src="img/footerimg/+18.png" style="margin-bottom: 30px; width: 20%; height: 10%;"
                    class="mx-3 d-flex img-fluid">
                <img src="img/footerimg/dmca.png" style="margin-bottom: 30px; width: 20%; height: 10%;"
                    class="mx-3 d-flex img-fluid">
            </div>
            <div class="img d-flex justify-content-center">
                <img src="img/footerimg/hizmet.png" style="margin-bottom: 100px; width: 50%; height: 10%;"
                    class="d-flex justify-content-center img-fluid">
            </div>
        </div>
    </footer>
</div>