@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="pc d-none d-md-none d-lg-block">
    <!--Slide/Carousel-->
    <div id="carouselExample" class="carousel slide" style="width: 100%;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/slide1.png" class="d-block img-fluid"
                    style="height: 300px; width: 100%; object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide2.png" class="d-block img-fluid "
                    style="height: 300px; width: 100%; object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide3.png" class="d-block img-fluid "
                    style="height: 300px; width: 100%; object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide4.png" class="d-block img-fluid "
                    style="height: 300px; width: 100%; object-fit: cover;" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--Sarı Oyun Barı-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="width: 100%; height: 10%; background-color: #FFD43B;">
                <div class="mx-5 justify-content-center" style="display: flex; gap: 1%;">
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Lobi</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Top 20
                        Canli
                        Casino</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Türkçe
                        Casino</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Drops&Wins</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Evolution</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Ezugi</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Pragmatic
                        Live</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Yüksek
                        Limitli</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Microgaming
                        Live</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Xpg</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="margin-bottom: 1%;  margin-top: 1%; text-align: center; color: rgb(0, 0, 0);">Vivo</button>
                    <input class="form-control mt-3"
                        style=" border-radius: 0px;  border-inline-color: white; background-color: #FFD43B; width: 20%; margin-bottom: 2%;  "
                        type="search" placeholder="Oyun ara...">
                </div>
            </div>
            <button class="btn"
                style="  margin-top: 23px; margin-left: 40%; height: 50px; width: 230px; background-color: #FFD43B; color: white;"
                type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Rastgele Bir Oyun Oyna</button>
        </div>
    </div>


    <!-- Top 20 Casino -->
    <div class="container-fluid">

        <div class="mt-5">
            <!--Top 20 Canli Casino-->
            <h5 style="margin-top: 20px; margin-left: 110px; color: white; ">TOP 20 CANLI CASİNO</h5>
            <h6 style="margin-top: -30px; margin-left: 1160px; color: rgb(102, 102, 102); ">Hepsini Gör 20 ></h6>

            <div class="card-group casinoCard" style=" gap: 12px; width: 1200px; margin-top: 25px; margin-left:6.5%;">

                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Sweet Bonanza™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/B/B5B4835D0E37FE05BAAE4BE30B7B8BA0.gif">
                    <h6 class="card-title"> Sweet Bonanza</h6>
                </div>
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Fruits of the Amazon™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/E/E44CEAF4D9D435F209B008A653236BBE.jpg">
                    <h6 class="card-title">Fruits of the Amazon™</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Gates of Olympus™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/2/2B56B55036DA92A39E7F16D81548477A.gif">
                    <h6 class="card-title">Gates of Olympus™</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="The Dog House" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/9/9A6CF242860013054CC3BBD5499CF32B.gif">
                    <h6 class="card-title">The Dog House</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="RIP City" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/2/28F6DC21DEE4BEDC3B52BE29C69C465F.jpg">
                    <h6 class="card-title">RIP City</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Fruit Party™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/D/D5D8085220C6B80DE21E99858883794C.gif">
                    <h6 class="card-title">Fruit Party™</h6>
                </div>
            </div>

            <!--TURNUVA OYUNLARI-->
            <h5 style="margin-top: 20px; margin-left: 110px; color: white; ">TURNUVA OYUNLARI</h5>
            <h6 style="margin-top: -30px; margin-left: 1160px; color: rgb(102, 102, 102); ">Hepsini Gör 20 ></h6>

            <div class="card-group casinoCard" style=" gap: 12px; width: 1200px; margin-top: 25px; margin-left:6.5%;">

                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Big Bass Amazon Xtreme™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/9/971FD990AB59FA0066581606143AC62F.jpg">
                    <h6 class="card-title">Big Bass Amazon Xtreme™</h6>
                </div>
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Big Bass Bonanza - Hold &amp; Spinner" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/D/D3963090AEB650D46DD5B67773A6A1B8.jpg">
                    <h6 class="card-title">Big Bass Bonanza - Hold & Spinner</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Wisdom of Athena™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/6/68FBF35B60B6B72090AE3ACE5A087C9B.jpg">
                    <h6 class="card-title">Wisdom of Athena™</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Candy Blitz™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/0/083D2EE5AC5DC4882E2AE23FB057CF6D.jpg">
                    <h6 class="card-title">Candy Blitz™</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Sugar Supreme Powernudge™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/9/95B682CBCDB1BDC52119203A8E67B533.jpg">
                    <h6 class="card-title">Sugar Supreme Powernudge™</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Buffalo Power: Hold and Win" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/7/7A179ED373B4CCE56F72C37ADA49D28E.jpg">
                    <h6 class="card-title">Buffalo Power: Hold and Win</h6>
                </div>
            </div>
            <!--PRAGMATİC CASİNO-->
            <h5 style="margin-top: 20px; margin-left: 110px; color: white; ">PRAGMATİC CASİNO</h5>
            <h6 style="margin-top: -30px; margin-left: 1160px; color: rgb(102, 102, 102); ">Hepsini Gör 20 ></h6>

            <div class="card-group casinoCard" style=" gap: 12px; width: 1200px; margin-top: 25px; margin-left:6.5%;">

                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Sweet Bonanza™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/B/B5B4835D0E37FE05BAAE4BE30B7B8BA0.gif">
                    <h6 class="card-title"> Sweet Bonanza</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Gates of Olympus™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/2/2B56B55036DA92A39E7F16D81548477A.gif">
                    <h6 class="card-title">Gates of Olympus™</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Saray Rüyası" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/A/AF4F0A09EB6E99FA75277BFAC650D351.gif">
                    <h6 class="card-title">Saray Rüyası</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Starlight Princess™" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/unique/_casino/2/2F958A4767D5322B3E6B0467A0D26206.png">
                    <h6 class="card-title">Starlight Princess™</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Wheel O'Gold" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/4/499EBB58E69DDB6147B1171DDC712D18.jpg">
                    <h6 class="card-title">Wheel O'Gold</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Pompeii Megareels Megaways" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/0/08FC914429BA9DD741B2517C1BE70EDA.jpg">
                    <h6 class="card-title">Pompeii Megareels Megaways</h6>
                </div>
            </div>
            <!--EGT CASİNO-->
            <h5 style="margin-top: 20px; margin-left: 110px; color: white; ">EGT CASİNO</h5>
            <h6 style="margin-top: -30px; margin-left: 1160px; color: rgb(102, 102, 102); ">Hepsini Gör 20 ></h6>

            <div class="card-group casinoCard" style=" gap: 12px; width: 1200px; margin-top: 25px; margin-left:6.5%;">
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="100 Super Hot" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/B/B001B0F9A494FB2A4BA9A3131FF022C0.jpg">
                    <h6 class="card-title"> 100 Super Hot</h6>
                </div>
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Flaming Hot Extreme" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/C/C1C084B7F32F6221112D8ADE88597482.jpg">
                    <h6 class="card-title">Flaming Hot Extreme</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Hot Deco" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/C/C6D2F16A7BA0E8030C92A2513DC6D767.jpg">
                    <h6 class="card-title">Hot Deco</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="40 Burning Hot 6 Reels" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/4/460FA4DDE4CB6454908E7B9833C1431B.jpg">
                    <h6 class="card-title">40 Burning Hot 6 Reels</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="27 Dice" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/D/D4049658FE1FAE8B3A0F31FA193254F6.jpg">
                    <h6 class="card-title">27 Dice</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="20 Bulky Dice" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/4/407244F98CE10A592B6B6D6E8428D59F.jpg">
                    <h6 class="card-title">20 Bulky Dice</h6>
                </div>
            </div>

            <!--PLAY'N GO-->
            <h5 style="margin-top: 20px; margin-left: 110px; color: white; ">PLAY'N GO</h5>
            <h6 style="margin-top: -30px; margin-left: 1160px; color: rgb(102, 102, 102); ">Hepsini Gör 34 ></h6>

            <div class="card-group casinoCard" style=" gap: 12px; width: 1200px; margin-top: 25px; margin-left:6.5%;">
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Book of Dead" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/7/791CD29DBDDBAFF87B7CC9A5B7422579.jpg">
                    <h6 class="card-title"> Book of Dead</h6>
                </div>
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Gemix 2" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/7/77834570DCE497CD4C90F7093A8C15B2.jpg">
                    <h6 class="card-title">Gemix 2</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Golden Colts" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/B/BDDE15796B393EE7A8C2511F43760817.optimized.png">
                    <h6 class="card-title">Golden Colts</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Honey Rush" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/7/7781FBA29C3F930FA4537205F7994852.jpg">
                    <h6 class="card-title">Honey Rush</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Legion Gold Unleashed" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/D/D1E7B17E746E7C3D798ACA741831D842.jpg">
                    <h6 class="card-title">Legion Gold Unleashed</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Undefeated Xerxes" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/9/980E919243012816826C4FF15518F3EA.jpg">
                    <h6 class="card-title">Undefeated Xerxes</h6>
                </div>
            </div>

            <!--ATARİ OYUNLARİ-->
            <h5 style="margin-top: 20px; margin-left: 110px; color: white; ">ATARİ OYUNLARİ</h5>
            <h6 style="margin-top: -30px; margin-left: 1160px; color: rgb(102, 102, 102); ">Hepsini Gör 143 ></h6>

            <div class="card-group casinoCard" style=" gap: 12px; width: 1200px; margin-top: 25px; margin-left:6.5%;">
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Santa's Stack" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/E/E613838C2F001577B047029C7A9E008D.jpg">
                    <h6 class="card-title">Santa's Stack</h6>
                </div>
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Casino Punks" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/C/C51626A697AB6F91AB17C95D07084B0C.jpg">
                    <h6 class="card-title">Casino Punks</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Penalty Shoot Out" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/6/6FED8142BD7D2B3873CD8432ADE367A2.jpg">
                    <h6 class="card-title">Penalty Shoot Out</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Penaltı Serisi" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/6/6888BD83B4B59181A379E3B1A95143F3.jpg">
                    <h6 class="card-title">Penaltı Serisi</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Cannon Cove" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/9/9E0473277244358A243DFD9870F7D92B.jpg">
                    <h6 class="card-title">Cannon Cove</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Street Fighter II: The World Warrior Slot" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/2/20B307AFDE838068ABC5DA1CCB6C2BA5.jpg">
                    <h6 class="card-title">Street Fighter II: The World Warrior Slot</h6>
                </div>
            </div>

            <!--AMATİC-->
            <h5 style="margin-top: 20px; margin-left: 110px; color: white; ">AMATİC</h5>
            <h6 style="margin-top: -30px; margin-left: 1160px; color: rgb(102, 102, 102); ">Hepsini Gör 291 ></h6>

            <div class="card-group casinoCard" style=" gap: 12px; width: 1200px; margin-top: 25px; margin-left:6.5%;">
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Blazing Coins 40" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/5/538E6BF31F13A907EBF1DBDE6AED6002.jpg">
                    <h6 class="card-title">Blazing Coins 40</h6>
                </div>
                <div class="card" style="background: transparent; color: white; ">
                    <img alt="Golden Fish" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/9/90EAC260E150E789375EF203A7AC91F3.jpg">
                    <h6 class="card-title">Golden Fish</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Hot Fruits Wheel" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/3/347A8075F0A5C2F23C8B3A4D2CFFA283.jpg">
                    <h6 class="card-title">Hot Fruits Wheel</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Mr. Magic" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/C/C17111B53D9D6DFEBBD55F81139F6C24.jpg">
                    <h6 class="card-title">Mr. Magic</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Blazing Coins 100" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/E/EEA95847D54580F46E209DE79A7E6DA6.jpg">
                    <h6 class="card-title">Blazing Coins 100</h6>
                </div>
                <div class="card" style="background: transparent; color: white;  ">
                    <img alt="Blazing Coins 20" class="GameThumb ListGameImage LazyImage"
                        src="//static.glastcoper.com/cms2/base/_casino/0/0FE61FA8F9CC84461C7F4AC65BCAAFAA.jpg">
                    <h6 class="card-title">Blazing Coins 20</h6>
                </div>
            </div>
        </div>
        <button class="btn mb-5 mt-5"
            style="  margin-top: 23px; margin-left: 40%; height: 50px; width: 230px; background-color: #FFD43B; color: white;"
            type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Daha Fazla Gör</button>
    </div>
</div>

<div class="mobil d-block d-sm-block d-md-none">
    <!-- Carousel -->
    <div id="carouselExampleControls " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/slide1.png" class="d-block w-100" height="140px" style="object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide2.png" class="d-block w-100" height="140px" style="object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide3.png" class="d-block w-100" height="140px" style="object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide4.png" class="d-block w-100" height="140px" style="object-fit: cover;" alt="...">
            </div>
        </div>
    </div>

    <!-- Sarı Oyun Barı -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="width: 100%; height: 80px; background-color: #FFD43B;">
                <div class="justify-content-center" style="display: flex; gap: 5px;">
                    <button class="btn btn-casinoWarning" type="button order-list-end"
                        style="height: 80px; text-align: center; color: rgb(0, 0, 0);"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="height: 80px; text-align: center; color: rgb(0, 0, 0);">Lobi</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="text-align: center; color: rgb(0, 0, 0);">Top 20
                        Canli Casino</button>
                    <button class="btn btn-casinoWarning" type="button"
                        style="text-align: center; color: rgb(0, 0, 0);">Ezugi</button>
                </div>
            </div>
        </div>
        <button class="btn mt-5"
            style="margin-left: 10%; height: 50px; width: 230px; background-color: #FFD43B; color: white;" type="button"
            data-bs-toggle="modal" data-bs-target="#exampleModal">Rastgele Bir Oyun Oyna</button>
    </div>

    <!-- Casino -->
    <div class="casino container-fluid">

        <!-- Top 20 -->
        <div class="row mt-3">
            <h6 class="mt-4" style="color: white;">Top 20 Slot Oyunları</h6>
            <div class="col-6 mt-3">
                <img src="~/img/slots/sweet.gif" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Sweet Bonanza</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/slots/gates.gif" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Gates of Olympus™</p>
            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 mt-3">
                <img src="~/img/slots/fruits.webp" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Fruits of Amazon</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/slots/doghouse.gif" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">The Dog House</p>
            </div>
            <button class="btn btn-outline-warning mt-2" style="height: 50px; width: 230px;" type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Daha Fazla Göster</button>
        </div>


        <!-- Türkçe Rulet -->
        <div class="row mt-4">
            <h6 class="mt-4" style="color: white;">Turnuva Oyunları</h6>
            <div class="col-6 mt-3">
                <img src="~/img/slots/bigbassxtreme.webp" class="card"
                    style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Big Bass Amazon Xtreme</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/slots/bigbasshold.webp" class="card"
                    style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Big Bass Hold & Spinner</p>
            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 mt-3">
                <img src="~/img/slots/wisdomofathena.webp" class="card"
                    style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Wisdom of Athena</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/slots/candyblitz.webp" class="card"
                    style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Candy Blitz</p>
            </div>
            <button class="btn btn-outline-warning mt-2" style="height: 50px; width: 230px;" type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Daha Fazla Göster</button>
        </div>


        <!-- Drop & Wins -->
        <div class="row mt-4">
            <h6 class="mt-4" style="color: white;">Pragmatic Oyunları</h6>
            <div class="col-6 mt-3">
                <img src="~/img/slots/sweet.gif" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Sweet Bonanza</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/slots/gates.gif" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Gates of Olympus™</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 mt-3">
                <img src="~/img/slots/saray.gif" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Saray Rüyası</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/slots/starlight.webp" class="card"
                    style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Starlight Princess™</p>
            </div>
            <button class="btn btn-outline-warning mt-2" style="height: 50px; width: 230px;" type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Daha Fazla Göster</button>
        </div>


        <!-- Evolution Gaming -->
        <div class="row mt-4">
            <h6 class="mt-4" style="color: white;">Diğer Oyunları</h6>
            <div class="col-6 mt-3">
                <img src="~/img/slots/ripcity.webp" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Rip City</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/slots/pompeii.webp" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Pompeii Megaways</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 mt-3">
                <img src="~/img/slots/wheelogold.webp" class="card"
                    style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Wheel o'Gold</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/slots/buffalopower.webp" class="card"
                    style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Buffalo Power</p>
            </div>
            <button class="mb-5 btn btn-outline-warning mt-2" style="height: 50px; width: 230px;" type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Daha Fazla Göster</button>
        </div>
    </div>
</div>