@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="pc d-none d-md-none d-lg-block">
    <!--SIDEBAR BASLANGIC SOL-->
    <div class="container-fluid ms-auto d-flex">
        <div class="col-2 sidebar">
            <div class="search-button">
                <button><i class="fas fa-search"></i></button>
                <span>Arama</span>
            </div>
            <div class="list-button">
                <button><i class="far fa-circle-play"></i></button>
                <span>Canlı</span>
            </div>
            <div class="list-button">
                <button><i class="far fa-clock"></i></button>
                <span>Gelecek Etkinlikler</span>
            </div>
            <div class="list-button">
                <button><i class="fas fa-fire-flame-curved"></i></button>
                <span>Popüler Etkinlikler</span>
            </div>
            <div class="list-button">
                <button><i class="fas fa-ranking-star"></i></button>
                <span>Sonuçlar Sayfası</span>
            </div>
            <div class="list-button" style="border:none; width: 99%;">
                <button><i class="fas fa-calendar-days"></i></button>
                <span>Canlı Takvim</span>
            </div>

            <!--ÜLKELER-->

            <div class="list-button mt-2">
                <button><i class="fas fa-link"></i></button>
                <span>Favori Ligler</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/usa.png" class="align-middle"></button>
                <span>NBA</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/eur.png" class="align-middle"></button>
                <span>UEFA Şampiyonlar Ligi</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/eur.png" class="align-middle"></button>
                <span>UEFA Avrupa Ligi</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/eur.png" class="align-middle"></button>
                <span>UEFA Avrupa Konferans Ligi</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/tur.png" class="align-middle"></button>
                <span>Türkiye Süper Lig</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/tur.png" class="align-middle"></button>
                <span>Türkiye Kupası</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/tur.png" class="align-middle"></button>
                <span>Türkiye TFF 1. Lig</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/eng.png" class="align-middle"></button>
                <span>İngiltere Premier Lig</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/eng.png" class="align-middle"></button>
                <span>İngiltere Championship</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/deu.png" class="align-middle"></button>
                <span>Almanya Bundesliga</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/eng.png" class="align-middle"></button>
                <span>Almanya Bundesliga 2</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/spa.png" class="align-middle"></button>
                <span>İspanya La Liga</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/spa.png" class="align-middle"></button>
                <span>İspanya La Liga 2</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/ita.png" class="align-middle"></button>
                <span>İtalya Serie A</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/ita.png" class="align-middle"></button>
                <span>İtalya Serie B</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/fra.png" class="align-middle"></button>
                <span>Fransa Lig 1</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/fra.png" class="align-middle"></button>
                <span>Fransa Lig 2</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/net.png" class="align-middle"></button>
                <span>Hollanda Eredivisie</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/net.png" class="align-middle"></button>
                <span>Hollanda Erste Divisie</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/por.png" class="align-middle"></button>
                <span>Portekiz Premier Ligi</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/por.png" class="align-middle"></button>
                <span>Portekiz 2. Ligi</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/bel.png" class="align-middle"></button>
                <span>Belçika 1. Ligi</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/bel.png" class="align-middle"></button>
                <span>Belçika 2. Ligi</span>
            </div>
            <div class="list-button" style="border:none; width: 99%;">
                <button><img src="~/img/eur.png" class="align-middle"></button>
                <span>Euroleague</span>
            </div>

            <!--SPORLAR-->
            <div class="list-button mt-2">
                <button><i class="fas fa-list"></i></button>
                <span>Tüm Sporlar</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/football.svg"></button>
                <span>Futbol</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/basketball.svg"></button>
                <span>Basketbol</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/tennis.svg"></button>
                <span>Tenis</span>
            </div>
            <div class="list-button">
                <button><img src="~/img/baseball.webp"></button>
                <span>Beyzbol</span>
            </div>
            <div class="list-button" style="border:none; width: 99%;">
                <button><img src="~/img/cricket.png"></button>
                <span>Kriket</span>
            </div>
            <!--YARDIM & DESTEK-->
            <div class="list-button mt-2">
                <button><i class="fas fa-shield"></i></button>
                <span>Yardım & Destek</span>
            </div>
            <div class="list-button">
                <button><i class="fa-regular fa-file-lines"></i></button>
                <span>Bahis Kuralları</span>
            </div>
            <div class="list-button">
                <button><i class="fa-sharp fa-solid fa-money-bills"></i></button>
                <span>Bahis Bozdur</span>
            </div>
            <div class="list-button mb-3" style="border:none">
                <button><i class="fa-solid fa-link"></i></button>
                <span>Bahis Kombinesi Kuralları</span>
            </div>
        </div>


        <!--Orta turnuva yazısı-->
        <div class=" w-100  text-center justify-content-center h-25 ms-2"
            style=" width: 100%; background-color: #282C39; color:#DBD9E2">
            <div style="margin: 25px; font-size: 9pt;">
                <i class="fa-sharp fa-solid fa-lg fa-circle-exclamation me-1"></i>
                Şu anda turnuva bulunmamaktadır
            </div>
        </div>





        <!--SIDEBAR BASLANGIC SAĞ-->
        <div class="col-3 right-sidebar ms-auto justify-content-center">
            <div class="text-center justify-content-center ms-2"
                style="height: 160px; width: 100%; background-color: #282C39; color:#DBD9E2">
                <div style="min-height: 35px; background-color: #2E323E;">
                    <i class="fa-solid fa-ticket justify-content-center float-start d-flex mt-2 ms-2"
                        style="color: #FFFFFF;"></i>
                    <div class="float-start ms-2 mt-1 d-flex" style="color: #FFFFFF;">
                        Bahis kuponu
                    </div>
                    <div class="float-end me-2" style="font-size: 9pt; margin-top: 6px;">
                        <a href="#" style="color:#A4A9BC">Yardım</a>
                    </div>
                </div>
                <div style="margin: 25px; font-size: 9pt;">
                    Bahis kuponu boş
                    <br>
                    Bahis yapabilmek için, <a href="#" style="color: #DBD9E2;">kayıt ol</a> veya <a href="#"
                        style="color:#DBD9E2">giriş</a> ve herhangi
                    bir miktar seçin.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobil d-block d-sm-block d-md-none">
    <div>
        <div class="d-flex justify-content-center" style="width: 100%; background-color: #23262F;">
            <div class="arama">
                <button class="btn"
                    style="color: #000000; border-radius: 0px; background-color: #FFD43B; font-size: 13px;">
                    <i class="fa-regular fa-magnifying-glass fa-sm" style=" color: white;"></i>
                    <span style="color: white;">Arama</span>
                </button>
            </div>
            <div class="canli">
                <button class="btn" style="font-size: 13px;">
                    <i class="fa-light fa-circle-play fa-sm" style="color: white;"></i>
                    <span style="color: white;">Canlı</span>
                </button>
            </div>
            <div class="sporlar">
                <button class="btn" style="font-size: 13px;">
                    <i class="fa-regular fa-bars fa-sm" style=" color: white;"></i>
                    <span style="color: white;">Sporlar</span>
                </button>
            </div>
            <div class="ligler">
                <button class="btn" style="font-size: 13px;">
                    <i class="fa-regular fa-link-simple fa-sm" style=" color: white;"></i>
                    <span style="color: white;">Ligler</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Games -->
    <div class="games">
        <div class="gameslist mt-2">
            <div class="d-flex justify-content-center">
                <div class="gamescss d-grid">
                    <img class="gamesimg mx-auto" src="~/img/icons/football.svg">
                    <div class="mb-2 fw-semibold">
                        Futbol
                    </div>
                </div>
                <div class="gamescss d-grid">
                    <img class="gamesimg mx-auto" src="~/img/icons/basketball.svg">
                    <div class="mb-2 fw-semibold">
                        Basketbol
                    </div>
                </div>
                <div class="gamescss d-grid">
                    <img class="gamesimg mx-auto" src="~/img/icons/tabletennis.svg">
                    <div class="mb-2 fw-semibold">
                        Masa Tenis
                    </div>
                </div>
                <div class="gamescss d-grid">
                    <img class="gamesimg mx-auto" src="~/img/icons/volleyball.svg">
                    <div class="mb-2 fw-semibold">
                        Voleybol
                    </div>
                </div>
                <div class="gamescss d-grid">
                    <img class="gamesimg mx-auto" src="~/img/icons/tennis.svg">
                    <div class="mb-2 fw-semibold">
                        Tenis
                    </div>
                </div>
                <div class="gamescss d-grid">
                    <img class="gamesimg mx-auto" src="~/img/icons/icehockey.svg">
                    <div class="mb-2 fw-semibold">
                        Buz Hokeyi
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Orta turnuva yazısı-->
    <div class=" w-100 text-center justify-content-center h-100"
        style="line-height: 55px; background-color: #282C39; color:#DBD9E2">
        <div style="margin: 25px; font-size: 9pt;">
            <i class="fa-sharp fa-solid fa-lg fa-circle-exclamation me-1"></i>
            Şu anda turnuva bulunmamaktadır
        </div>
    </div>


    <!-- Casino -->
    <div style="background-color: #191919;" class="casino container-fluid">

        <!-- Top 20 -->
        <div class="row mt-3">
            <h6 class="mt-4" style="color: white;">Top 20 Canlı Casino</h6>
            <div class="col-6 mt-3">
                <img src="~/img/canli1.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Turkish Roulette</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/canli2.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Salon Casino</p>
            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 mt-3">
                <img src="~/img/canli3.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">VIP Blackjack</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/canli4.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Sweet Bonanza</p>
            </div>
            <button class="btn btn-outline-warning mt-2" style="height: 50px; width: 230px;" type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Daha Fazla Göster</button>
        </div>


        <!-- Türkçe Rulet -->
        <div class="row mt-4">
            <h6 class="mt-4" style="color: white;">Türkçe Casino</h6>
            <div class="col-6 mt-3">
                <img src="~/img/trcasino1.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">XXXtreme</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/trcasino2.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Lightning Rulet</p>
            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 mt-3">
                <img src="~/img/trcasino3.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Türkçe Blackjack</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/trcasino4.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Türkçe Blackjack 1</p>
            </div>
            <button class="btn btn-outline-warning mt-2" style="height: 50px; width: 230px;" type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Daha Fazla Göster</button>
        </div>


        <!-- Drop & Wins -->
        <div class="row mt-4">
            <h6 class="mt-4" style="color: white;">Drop & Wins</h6>
            <div class="col-6 mt-3">
                <img src="~/img/drop1.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Boom City</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/drop2.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Sweet Bonanza</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 mt-3">
                <img src="~/img/drop3.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Mega Çark</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/drop4.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;" alt="">
                <p style="text-align: center; color: white;">Andar Bahar</p>
            </div>
            <button class="btn btn-outline-warning mt-2" style="height: 50px; width: 230px;" type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Daha Fazla Göster</button>
        </div>


        <!-- Evolution Gaming -->
        <div class="row mt-4">
            <h6 class="mt-4" style="color: white;">Evoulation Gaming</h6>
            <div class="col-6 mt-3">
                <img src="~/img/evolution1.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Carzy Pachinko</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/evolution2.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Red Door Roulette</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 mt-3">
                <img src="~/img/evolution3.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">XXXtreme Lightning</p>
            </div>
            <div class="col-6 mt-3">
                <img src="~/img/evolution4.jpg" class="card" style="border:none; border-radius: 10px; width: 100%;"
                    alt="">
                <p style="text-align: center; color: white;">Lightnin Lotto</p>
            </div>
            <button class="btn btn-outline-warning mt-2 mb-4" style="height: 50px; width: 230px;" type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Daha Fazla Göster</button>
        </div>
    </div>
</div>