body {
    background-color: #121623;
}

body::-webkit-scrollbar {
    display: none;
}

.card-group .card {
    border: none !important;
}

.card-group .card .card-title {
    margin-top: 5px;
}

.img-logo:hover {
    filter: brightness(0.8);
    /* Rengin %80 daha koyu olması */
}

.matchscore {
    color: #FFD43B;
    font-weight: bold;
}

.matchteams {
    width: 100%;
    height: 80px;
    margin-top: 2px;
    background-color: #373845;
    color: white;
    font-size: small;
}

.matchbet {
    height: 55px;
    width: 100px;
    cursor: pointer;
    background-color: #202530;
    border: #1D1F2B solid 1px;
    border-bottom: #1D1F2B solid 4px;
    color: #FFD43B;
    transition: background-color 0.2s, color 0.2s;
}

.matchbet2 {
    height: 55px;
    width: 125px;
    cursor: pointer;
    background-color: #202530;
    border: #1D1F2B solid 1px;
    border-bottom: #1D1F2B solid 4px;
    color: #FFD43B;
    transition: background-color 0.2s, color 0.2s;
}

.matchbet3 {
    height: 55px;
    width: 140px;
    cursor: pointer;
    background-color: #202530;
    border: #1D1F2B solid 1px;
    border-bottom: #1D1F2B solid 4px;
    color: #FFD43B;
    transition: background-color 0.2s, color 0.2s;
}

.matchbet:hover {
    background-color: #FFD43B;
    color: black;
}

.matchbet2:hover {
    background-color: #FFD43B;
    color: black;
}

.matchbet3:hover {
    background-color: #FFD43B;
    color: black;
}

#activeslide {
    background-color: #363945;
    color: #FFD43B;
}

.gameslist {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 50px;
    max-width: 100%;
    line-height: 15px;
    font-size: smaller;
}

.gamesimg {
    margin-top: 7px;
    height: 20px;
    transition: transform 0.3s;
}

.gamescss {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #202530;
    color: #FFD43B;
    padding: 0 1.59%;
    cursor: pointer;
    height: 10%;
    flex: 0 0 auto;
    white-space: nowrap;
    transition: background-color 0.2s, color 0.2s;
}

.gamescss:hover {
    background-color: #282D38;
    color: white;
}

.gamescss:hover .gamesimg {
    transform: scale(1.1) rotate(10deg);

}

.slidecss {
    background-color: #2F333E;
    color: white;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 35px;
    flex: 0 0 auto;
    white-space: nowrap;
}

.slidecss:hover {
    background-color: #FFD43B !important;
    color: black !important;
}

.navbar {
    padding-bottom: 0 !important;
}

.navButon {
    height: 5vh;
}

.navButon:hover {
    color: #FFD43B !important;
    /* Important is used to override Bootstrap styles */
    border-bottom: #FFD43B solid 5px;
}

.modalBtn:hover {
    color: white !important;
    background-color: #161A2A !important;
    /* Important is used to override Bootstrap styles */
}

.passwordBtn:hover {
    color: black !important;
    /* Important is used to override Bootstrap styles */
}

.sidebar {
    width: 100%;
}

.sidebar img {
    width: 99%;
    margin-left: -3%;
    margin-bottom: 1%;
}

.right-sidebar .imggroup {
    width: 100%;
}

.right-sidebar .wideimg {
    width: 90%;
    margin-right: -3%;
    margin-top: 0.5%;
}

.right-sidebar .blockimg {
    padding: 1%;
    width: 33.3%;
    margin-right: -1%;
}

.search-button {
    width: 99%;
    margin-left: -3%;
    background-color: yellow;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-button span {
    padding-left: 2.5%;
}

.search-button button {
    width: 12.5%;
    background-color: #FFC822;
    border: none;
    padding: 3%;
    cursor: pointer;

}

.search-button:hover button i {
    transition: transform 0.1s linear;
    transform: scale(1.2);
}

.list-button {
    width: 99%;
    margin-left: -3%;
    background-color: #151928;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #656875;
}

.list-button span {
    color: #C8C7D0;
    padding-left: 2.5%;
}

.list-button button {
    width: 12.5%;
    background-color: #131825;
    color: #C8C7D0;
    border: none;
    padding: 3%;
    cursor: pointer;
}

.list-button button img {
    width: 100%;
}

.list-button:hover button img {
    transition: transform 0.1s linear;
    transform: scale(1.2);
}


.list-button:hover button i {
    transition: transform 0.1s linear;
    transform: scale(1.2);
}

.list-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.list-button:hover button {
    background-color: rgba(0, 0, 0, 0.2);
}